<!DOCTYPE html>
<html>
  <head>
    <title>Calendar Challenge</title>
    <meta charset="utf-8" />
    <meta name="author" content="Jhinel Arcaya <hello@jhia.pw>" />
    <meta name="description" content="Calendar sync with Google Calendar" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" />
    <link rel="stylesheet" href="https://raw.githubusercontent.com/jackducasse/caleandar/master/css/theme1.css" />
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
  </head>
  <body>
    <div class="container">
      <section class="row">
        <% @calendar_list.items.each do |calendar| %>
          <article class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <div class="calendar-graphic" data-calendar-id="<%= calendar.id %>"></div>
                <% if calendar.access_role != "reader" %>
                <a data-target-calendar="<%= calendar.id %>" class="btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">add</i></a>
                <% end %>
              </div>
              <span class="card-title"><%= calendar.summary %></span>
              <% if calendar.access_role != "reader" %>
              <div class="card-content" data-visible="false">
                <div class="row">
                  <form data-target-calendar="<%= calendar.id %>" data-calendar-timezone="<%= calendar.time_zone %>" method="POST">
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Nombre" id="summary" name="summary" type="text" />
                        <label for="summary">Nombre</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="..." id="description" name="description" type="text" />
                        <label for="description">Descripción</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <input placeholder="Fecha de inicio" class="datepicker" id="start_date" name="start_date" type="text" />
                        <label for="start_date">Fecha de Inicio</label>
                      </div>
                      <div class="input-field col s6">
                        <input placeholder="Fecha de cierre" class="datepicker" id="end_date" name="end_date" type="text" />
                        <label for="end_date">Fecha de Cierre</label>
                      </div>
                    </div>
                    <input type="submit" class="btn waves-effect waves-light" value="Crear Evento" />
                  </form>
                </div>
              </div>
              <% end %>
            </div>
          </article>
        <% end %>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
